input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 12vw;
  height: 6.5vw;
  background: rgb(238, 238, 238);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 0.7vw;
  left: 5px;
  width: 5vw;
  height: 5vw;
  background: #fff;
  border: 1px solid #0000003f;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #111111;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 7vw;
}

// centering
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
