@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
@import "../../../index.scss";

.navbar {
  background-color: var(--background-color);
  color: var(--text-color);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-color);
  padding: 0.5vw 0vw;
  z-index: 100;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
}

.logoBlock {
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 3vw;
  margin-left: 4vw;
}

.linksBlock {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4vw;
  font-family: 'Jura', sans-serif;
}

.pages {
  display: flex;
  border-right: 1px solid #fff;
  padding-right: 2vw;
}

.pages a {
  font-size: 1.4vw;
  margin: 0 0.5vw;
}

.pages a:hover {
  text-decoration: underline;
}

.enterBtn {
  padding-left: 2vw;
}

.enterBtn button {
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 0.7vw;
  font-size: 1.2vw;
}

.accountMobBtn {
  display: none;
  position: absolute;
  right: 0;
  margin-right: 2vw;
  font-size: 5vw;
}

.burgerBtn {
  display: none;
  font-size: 7vw;
  cursor: pointer;
}

.fifaIcon {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.fifaIcon img {
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  .navbar {
    padding: 0.7vw 0vw;
  }
  .pages a {
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 912px) {
  .navbar {
    padding: 2vw 0vw;
  }
  .logoBlock {
    font-size: 3.5vw;
    margin-left: 2vw;
  }
  .linksBlock {
    margin-right: 2vw;
  }
  .pages a {
    font-size: 1.6vw;
  }
  .enterBtn button {
    padding: 0.8vw;
    font-size: 1.7vw;
  }
}

@media only screen and (max-width: 820px) {
  .logoBlock {
    font-size: 4vw;
  }
  .pages a {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    height: 7vw;
    justify-content: flex-start;
    padding: 0 2vw;
  }
  .burgerBtn {
    display: flex;
    font-size: 6vw;
  }
  .logoBlock {
    font-size: 5vw;
    margin-left: 2vw;
  }
  .linksBlock {
    height: 100vh;
    width: 50%;
    flex-direction: column;
    position: absolute;
    top: 7vw;
    left: 0;
    transform: translate(-100vw, 0);
    align-items: center;
    justify-content: flex-start;
    padding: 3vw 7vw;
    opacity: 0;
    transition: ease-out 0.2s;
    font-family: 'Alumni Sans', sans-serif;
  }
  .linksBlock.visible {
    top: 7vw;
    transform: translate(0, 0);
    opacity: 1;
    transition: ease-out 0.2s;
  }
  .fifaIcon {
    display: flex;
  }
  .pages {
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
  }
  .pages a {
    margin-top: 2vw;
    font-size: 5vw;
    text-transform: uppercase;
  }
  .enterBtn {
    display: none;
  }
  .accountMobBtn {
    display: flex;
  }
  .accountMobBtn a {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 540px) {
  .navbar {
    height: 8vw;
  }
  .burgerBtn {
    font-size: 7vw;
  }
  .logoBlock {
    font-size: 6vw;
    margin-left: 2vw;
  }
  .linksBlock {
    width: 60%;
    top: 8vw;
    left: 0;
  }
  .linksBlock.visible {
    top: 8vw;
  }
  .pages a {
    margin-top: 2vw;
    font-size: 5vw;
  }
  .enterBtn {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    height: 13vw;
  }
  .burgerBtn {
    display: flex;
    font-size: 8.5vw;
  }
  .logoBlock {
    font-size: 7vw;
    margin-left: 2vw;
  }
  .linksBlock {
    width: 90%;
    top: 13vw;
    left: 0;
    padding: 3vw 10vw;
  }
  .linksBlock.visible {
    top: 13vw;
  }
  .fifaIcon img {
    width: 80%;
  }
  .pages a {
    margin-top: 2vw;
    font-size: 8vw;
  }
  .accountMobBtn {
    font-size: 8vw;
  }
}
