@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

.mainBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding-top: 4.5vw;
}

.photoBlock {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Rubik Vinyl', cursive;
  color: #fff;
}

.pcPhoto {
  width: 100%;
}

.mobPhoto {
  display: none;
  width: 100%;
}

.mainPhotoTextOne,
.mainPhotoTextTwo,
.mainPhotoTextThree,
.mainPhotoTextFour {
  display: none;
  font-family: 'Raleway', sans-serif;
}

.mainPhotoTextOne {
  color: white;
  position: absolute;
  right: 59vw;
  top: 13%;
  font-size: 4.5vw;
}

.mainPhotoTextTwo {
  color: rgb(0, 0, 0);
  position: absolute;
  right: 3vw;
  top: 13%;
  font-size: 4.5vw;
  font-weight: 600;
}

.mainPhotoTextThree {
  color: white;
  position: absolute;
  right: 62vw;
  top: 78%;
  font-size: 4.5vw;
}

.mainPhotoTextFour {
  color: rgb(0, 0, 0);
  position: absolute;
  right: 14vw;
  top: 78%;
  font-size: 4.5vw;
  font-weight: 600;
}

.photoText {
  position: absolute;
  width: 80%;
  font-size: 10vw;
  text-align: center;
  margin: auto 0;
}

@media only screen and (max-width: 912px) {
  .mainBlock {
    padding-top: 8vw;
  }
}

@media only screen and (max-width: 820px) {
  .mainBlock {
    padding-top: 8.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .mainBlock {
    padding-top: 7vw;
  }
}

@media only screen and (max-width: 540px) {
  .mainBlock {
    padding-top: 7.5vw;
  }
  .pcPhoto {
    display: none;
  }
  .mobPhoto {
    display: block;
  }
  .mainPhotoTextOne,
  .mainPhotoTextTwo,
  .mainPhotoTextThree,
  .mainPhotoTextFour {
    display: block;
  }
  .photoText {
    position: absolute;
    width: 100%;
    font-size: 12vw;
    text-align: center;
    margin: auto 0;
  }
}

@media only screen and (max-width: 480px) {
  .mainBlock {
    padding-top: 13vw;
  }
}
