@import "../../../index.scss";

.content {
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.heading {
  font-size: 4vw;
  font-weight: 900;
  margin: 0;
  width: 50%;
}

.winnerBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #434343 0%, #1b1030 100%);
  background-blend-mode: multiply, multiply;
  width: 100%;
  padding: 5vw;
  margin-bottom: 0;
  text-align: center;
}

.winnerBlock h1 {
  width: 65%;
  font-size: 10vw;
  font-family: "Alumni Sans", sans-serif;
  text-transform: uppercase;
  margin: 0;
  animation: animate-text 2s infinite;
}

.seasonTableBlock {
  background-color: $infoBlockColor;
  padding: 2vw 1vw;
  margin: 3vw 0 0;
  text-align: center;
}

.seasonTableBlock h1 {
  font-size: 3.5vw;
  margin: 0 0 2vw;
  text-shadow: $infoBlockTextShadow;
}

.resultsHeader {
  text-align: center;
  padding: 3vw 0;
}

.resultsHeader h1 {
  font-size: 3.5vw;
  margin: 0;
}

.sheduleHeading {
  text-align: center;
  padding-top: 4.5vw;
}

.headingText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw 0 4vw;
}

.view-prev-results {
  margin: 5vw 5vw;
}

.view-prev-results button {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  border: none;
  border-radius: 0;
  padding: 1vw 3vw;
  font-size: 1.7vw;
  font-family: unset;
  text-transform: uppercase;
  cursor: pointer;
}

@keyframes animate-text {
  0% {
    color: #f5d909;
  }
  50% {
    color: #f5d909;
  }
  51% {
    color: #ff4fc7;
  }
  100% {
    color: #ff4fc7;
  }
}

@media only screen and (max-width: 912px) {
  .sheduleHeading {
    padding-top: 8vw;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .sheduleHeading {
    padding-top: 7vw;
  }
  .headingText {
    padding: 4vw 0 5vw;
  }
  .heading {
    font-size: 5.5vw;
    width: 80%;
  }
  .seasonTableBlock {
    padding: 3vw 1vw;
  }
  .seasonTableBlock h1 {
    font-size: 4.5vw;
    margin: 0 0 3vw;
  }
  .resultsHeader h1 {
    font-size: 4.5vw;
  }
}

@media only screen and (max-width: 540px) {
  .sheduleHeading {
    padding-top: 8vw;
  }
}

@media only screen and (max-width: 480px) {
  .sheduleHeading {
    padding-top: 13vw;
  }
  .headingText {
    padding: 7vw 0;
  }
  .heading {
    font-size: 6vw;
    width: 80%;
  }
  .seasonTableBlock {
    padding: 4vw 1vw;
    margin: 5vw 0 0;
  }
  .seasonTableBlock h1 {
    font-size: 5.5vw;
    margin: 0 0 3vw;
  }
  .resultsHeader {
    padding: 4vw 0;
    padding: 6vw 0;
  }
  .resultsHeader h1 {
    font-size: 5.5vw;
  }
}
