@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
@import "../../../index.scss";

.mainBlock {
  color: var(--text-color);
  padding: 7vw 8vw 3vw 8vw;
  margin: 0;
  border-top: 2px solid;
  font-family: 'Jura', sans-serif;
}

.linksBox {
  display: grid;
  grid-template-columns: 21% 27% 38% 14%;
  padding-bottom: 5vw;
  border-bottom: 1px solid var(--text-color);
}

.linksBlock {
  display: flex;
  flex-direction: column;
}

.linksBlock h1 {
  margin: 0 0 1vw 0;
  font-size: 2.3vw;
}

.linksBlockHeading button {
  display: none;
  background: rgba(0, 170, 238, 0);
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.linksBlock a {
  color: var(--text-color);
  text-decoration: none;
}

.linksBlock a:hover {
  text-decoration: underline;
}

.linksBlock p {
  font-size: 1.5vw;
  margin: 0;
}

.linksBlock img {
  width: 100%;
  margin: 0.1vw 0;
}

.footerCapText {
  font-size: 1.6vw;
  margin-top: 2vw;
}

@media only screen and (max-width: 912px) {
  .linksBox {
    grid-template-columns: 22% 28% 34% 16%;
  }
  .linksBlock h1 {
    font-size: 2.6vw;
    margin: 0 0 2vw 0;
  }
  .linksBlock p {
    font-size: 1.7vw;
  }
  .footerCapText {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 768px) {
  .linksBox {
    grid-template-columns: 22% 27% 33% 18%;
  }
  .linksBlock h1 {
    text-transform: uppercase;
  }
  .linksBlock p {
    max-width: 80%;
    margin: 0 0 0.7vw 0;
  }
  .footerCapText {
    font-size: 1.9vw;
  }
}

@media only screen and (max-width: 540px) {
  .mainBlock {
    padding: 7vw 8vw 4vw 8vw;
  }
  .linksBox {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
  .linksBlock {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
    padding: 3vw 4vw;
  }
  .linksBlockHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
  }
  .linksBlock h1 {
    font-size: 5vw;
    margin: 0;
  }
  .linksBlockHeading button {
    display: block;
  }
  .hidden {
    max-height: 0;
    overflow: hidden;
  }
  .visible {
    max-height: 100%;
    width: 85%;
    overflow: visible;
    margin-top: 2vw;
  }
  .linksBlock p {
    font-size: 4.5vw;
  }
  .linksBlock img {
    width: 80%;
  }
  .mobImgLinks {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    border: none;
  }
  .mobImgLinks a {
    text-align: center;
  }
  .footerCapText {
    font-size: 5vw;
    margin-top: 4vw;
    text-align: center;
  }
}
