@import "../../../index.scss";

.audioName {
  font-size: 1.7vw;
  margin: 0 0 0 2vw;
  width: 50%;
}

.audioBlock {
  background-color: $infoBlockColor;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2vw 0;
  margin-bottom: 2vw;
  cursor: context-menu;
  text-shadow: $infoBlockTextShadow;
}

.audioBlock audio {
  width: 50%;
  height: 4.5vw;
  margin-top: 1vw;
}

@media only screen and (max-width: 768px) {
  .audioBlock {
    padding: 3vw 0;
  }
  .audioName {
    width: 59%;
    font-size: 2.5vw;
    margin: 0vw 0vw 0vw 1vw;
  }
  .audioBlock audio {
    width: 60%;
    height: 5.5vw;
    margin-top: 2vw;
  }
}

@media only screen and (max-width: 480px) {
  .audioBlock {
    padding: 5vw 0 7vw;
    margin-bottom: 4vw;
  }
  .audioName {
    width: 90%;
    font-size: 4vw;
    margin: 0 0 0 3vw;
  }
  .audioBlock audio {
    width: 90%;
    height: 9.5vw;
    margin-top: 2.5vw;
  }
}