@import "../../../index.scss";

.content {
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.inputBlock {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: end;
  padding: 0vw 2vw;
  margin-bottom: 2vw;
}

.inputBlock input {
  background-color: $infoBlockColor;
  width: 30%;
  padding: 0vw 0.5vw;
  font-size: 1.7vw;
  margin: 0 2vw 0 0vw;
  border: none;
  box-shadow: 0px 0px 3px var(--text-color);
  color: var(--text-color);
}

.inputBlock select {
  background-color: $infoBlockColor;
  display: block;
  width: 12%;
  font-size: 1.5vw;
  color: var(--text-color);
  padding: 2vw 0.5vw;
}

.errorText {
  color: var(--text-color);
  font-size: 2.5vw;
  width: 100%;
  padding: 3vw 0 6vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.heading {
  font-size: 4vw;
  font-weight: 900;
  margin: 0;
  width: 55%;
}

.pagePhotoBlock {
  background-image: $pagePhotoBg;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29vw;
  padding-top: 4.5vw;
}

.audioHeading {
  text-align: center;
  padding: 0;
}

.audioHeading img {
  width: 100%;
  animation-name: animate-main-photo;
  animation-duration: 3s;
}

.headingText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vw 0;
}

@keyframes animate-main-photo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 912px) {
  .pagePhotoBlock {
    padding-top: 8vw;
    height: 33vw;
  }
}

@media only screen and (max-width: 820px) {
  .pagePhotoBlock {
    padding-top: 8.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .pagePhotoBlock {
    padding-top: 7vw;
    overflow: hidden;
    height: 35vw;
  }
  .audioHeading img {
    width: 150%;
    margin-left: 20vw;
  }
  .headingText {
    padding: 5vw 0;
  }
  .inputBlock input {
    width: 40%;
    font-size: 2.5vw;
    margin: 0 4vw 0 0vw;
  }
  .inputBlock select {
    width: 17%;
    font-size: 2vw;
  }
  .errorText {
    font-size: 3vw;
    padding: 3vw 0 6vw;
  }
}

@media only screen and (max-width: 540px) {
  .pagePhotoBlock {
    padding-top: 7.5vw;
    height: 37vw;
  }
  .errorText {
    font-size: 4vw;
    padding: 5vw 0 8vw;
  }
}

@media only screen and (max-width: 480px) {
  .pagePhotoBlock {
    padding-top: 13vw;
    height: 48vw;
  }
  .audioHeading img {
    width: 200%;
    margin-left: 20vw;
  }
  .headingText {
    padding: 7vw 0;
    border-bottom: 1px solid var(--text-color);
  }
  .heading {
    font-size: 6vw;
    width: 80%;
  }
  .inputBlock {
    margin: 4vw 0;
    justify-content: space-evenly;
  }
  .inputBlock input {
    width: 60%;
    font-size: 4.5vw;
    padding: 4vw 2vw;
    margin: 0 4vw 0 0vw;
  }
  .inputBlock select {
    width: 28%;
    font-size: 3.5vw;
  }
  .errorText {
    font-size: 5.5vw;
    padding: 3vw 19vw 8vw;
  }
}
