@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import "../../../index.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.5vw 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.heading {
  text-align: center;
  padding: 4vw 0;
}

.heading h1 {
  font-size: 4vw;
}

.userInfoBlock {
  width: 50%;
  background-color: $infoBlockColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 0;
  border-radius: 30px;
}

.userMainInfo {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  padding: 0 2vw;
}

.userPhoto {
  // background-color: aliceblue;
  border-radius: 50%;
  height: 14vw;
  width: 14vw;
  overflow: hidden;
}

.userPhoto svg {
  height: 100%;
  width: 100%;
}

.userPhoto img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.userInfo {
  margin: 0;
}

.userInfo h2 {
  margin: 1vw 0;
  font-size: 2.5vw;
}

.userInfo h3 {
  margin: 0;
}

.userInfo p {
  font-size: 1.5vw;
}

.settingsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vw 2vw;
  width: 100%;
}

.themeBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-color);
  padding: 1vw;
}

.themeInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.themeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 3.8vw;
  height: 3.8vw;
}

.themeIcon svg {
  width: 100%;
  height: 100%;
  color: #000000;
}

.themeText {
  margin: 0 1vw;
  font-size: 1.8vw;
}

.themeToggleBtn {
  display: flex;
  align-items: center;
}

.settingsChapter {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: end;
  border-bottom: 1px solid var(--text-color);
  padding: 0 1vw;
  font-size: 1.5vw;
  overflow: hidden;
}

.nameText {
  font-weight: 900;
  margin-left: 4vw;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

@media only screen and (max-width: 912px) {
  .content {
    padding-top: 8vw;
  }
}

@media only screen and (max-width: 820px) {
  .content {
    padding: 8.5vw 0;
  }
  .userInfo h2 {
    font-size: 3vw;
  }
  .userInfo p {
    font-size: 2.2vw;
  }
  .settingsBlock {
    padding: 2vw;
  }
  .themeBlock {
    padding: 0 1vw;
  }
  .themeText {
    font-size: 2.2vw;
  }
  .settingsChapter {
    font-size: 1.7vw;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding-top: 7vw;
  }
  .heading h1 {
    font-size: 5.5vw;
  }
  .settingsChapter {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 540px) {
  .content {
    padding-top: 7.5vw;
  }
  .heading h1 {
    font-size: 6vw;
  }
  .userPhoto {
    height: 16vw;
    width: 16vw;
  }
  .userInfoBlock {
    width: 55%;
  }
  .themeIcon {
    width: 4.5vw;
    height: 4.5vw;
  }
  .themeText {
    font-size: 2.5vw;
  }
  .settingsChapter {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 480px) {
  .content {
    padding-top: 13vw;
  }
  .heading {
    padding: 7vw 0;
  }
  .heading h1 {
    font-size: 8vw;
  }
  .userInfoBlock {
    padding: 10vw 0;
    width: 95%;
  }
  .userMainInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 3vw;
  }
  .userPhoto {
    height: 25vw;
    width: 25vw;
  }
  .userInfo {
    margin: 0 4vw;
    width: 60%;
  }
  .userInfo h2 {
    margin: 0;
    font-size: 6vw;
  }
  .userInfo p {
    font-size: 4vw;
  }
  .settingsBlock {
    padding: 2vw 7vw;
  }
  .settingsBlock h2 {
    font-size: 7vw;
  }
  .themeBlock {
    padding: 1vw 1vw;
}
  .themeIcon {
    width: 7vw;
    height: 7vw;
  }
  .themeText {
    font-size: 4.5vw;
    margin: 0 2vw;
  }
  .themeText p {
    margin: 2vw 0;
  }
  .settingsChapter {
    font-size: 4vw;
  }
}
