@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import "../../index.scss";

.content {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-size: 4vw;
  font-weight: 900;
  margin: 0;
  width: 55%;
}

.pagePhotoBlock {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: 20vw;
  margin-top: 4.5vw;
}

.seasonTableBlock {
  width: 100%;
  background-color: $infoBlockColor;
  padding: 2vw 1vw;
  margin: 3vw 0 0;
  text-align: center;
}

.seasonTableBlock h1 {
  font-size: 3.5vw;
  margin: 0 0 2vw;
  text-shadow: $infoBlockTextShadow;
}

.addResultBtn {
  background-color: $infoBlockColor;
  border: 1px solid;
  border-radius: 15px;
  width: 5vw;
  height: 5vw;
  color: var(--text-color);
  font-size: 3vw;
  margin-bottom: 3vw;
  cursor: pointer;
}

.resultsBlock {
  width: 100%;
  padding: 0;
  margin-bottom: 3vw;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.resultsHeader {
  text-align: center;
  padding: 3vw 0;
}

.resultsHeader h1 {
  font-size: 3.5vw;
  margin: 0;
}

.dateText {
  font-size: 2vw;
  margin: 0;
  width: 60%;
}

.viewResults {
  font-size: 1.8vw;
  margin: 0;
  width: 100%;
}

.additionalInfo {
  margin-top: 0vw;
  font-size: 1.8vw;
}

.matchScoreText {
  font-family: system-ui;
  font-size: 3vw;
  margin: 1vw 0;
  width: 24%;
  font-weight: 900;
}

.sheduleHeading {
  text-align: center;
  padding: 0;
}

.sheduleHeading img {
  width: 100%;
  animation-name: animate-main-photo;
  animation-duration: 3s;
}

.headingText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw 0 0vw;
}

.prevSeasonCard {
  position: relative;
  width: 50%;
  height: 25vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  overflow: hidden;
  z-index: 0;
}

.prevCardBlock {
  width: 100%;
  display: flex;
  align-items: center;
}

.prevCardBlock img {
  width: 100%;
  margin: -5vw auto;
}

.textBlock {
  position: absolute;
  top: 0;
  width: 55%;
  height: 100%;
  background-color: #101010d6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.textBlock h1 {
  width: 80%;
  font-size: 2.5vw;
  text-align: center;
  margin: 0.5vw;
}

.textBlock h2 {
  width: 80%;
  font-family: "Amatic SC", cursive;
  font-size: 4vw;
  text-align: center;
  margin: 0.5vw;
}

.resultTxt {
  width: 85%;
  display: flex;
  align-items: center;
}

.textBlock p {
  font-size: 2vw;
  text-align: start;
  margin-top: 2.5vw;
}

.resultTxtArrow {
  font-size: 4vw;
}

@keyframes animate-main-photo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 912px) {
  .pagePhotoBlock {
    margin-top: 8vw;
  }
  .addResultBtn {
    width: 6vw;
    height: 6vw;
    font-size: 4vw;
    margin-bottom: 3vw;
  }
}

@media only screen and (max-width: 820px) {
  .pagePhotoBlock {
    margin-top: 8.5vw;
  }
  .addResultBtn {
    width: 6vw;
    height: 6vw;
    font-size: 4vw;
    margin-bottom: 3vw;
  }
}

@media only screen and (max-width: 768px) {
  .sheduleHeading {
    overflow: hidden;
  }
  .pagePhotoBlock {
    height: 25vw;
    margin-top: 7vw;
  }
  // .sheduleHeading img {
  //   width: 150%;
  // }
  .headingText {
    padding: 4vw 0 2vw;
  }
  .heading {
    font-size: 5.5vw;
    width: 80%;
  }
  .seasonTableBlock {
    padding: 3vw 1vw;
  }
  .seasonTableBlock h1 {
    font-size: 4.5vw;
    margin: 0 0 3vw;
  }
  .resultsHeader {
    padding: 4vw 0;
  }
  .resultsHeader h1 {
    font-size: 4.5vw;
  }
  .addResultBtn {
    width: 9vw;
    height: 9vw;
    font-size: 7vw;
    margin-bottom: 4vw;
  }
  .resultsBlock {
    margin-bottom: 4vw;
  }
  .prevSeasonCard {
    width: 70%;
    height: 35vw;
    margin-top: 6vw;
    margin-bottom: 6vw;
  }
  .textBlock h1 {
    font-size: 3vw;
  }
  .textBlock h2 {
    font-size: 6vw;
  }
  .textBlock p {
    font-size: 3vw;
  }
  .resultTxtArrow {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 540px) {
  .pagePhotoBlock {
    margin-top: 8vw;
  }
  .resultsBlock {
    margin: 0 0 4vw;
}
}

@media only screen and (max-width: 480px) {
  .pagePhotoBlock {
    height: 35vw;
    margin-top: 13vw;
  }
  // .sheduleHeading img {
  //   width: 200%;
  // }
  .headingText {
    padding: 7vw 0;
  }
  .heading {
    font-size: 6vw;
    width: 80%;
  }
  .seasonTableBlock {
    margin: 0;
  }
  .seasonTableBlock h1 {
    font-size: 5.5vw;
  }
  .resultsHeader {
    padding: 7vw 0;
  }
  .resultsHeader h1 {
    font-size: 5.5vw;
  }
  .addResultBtn {
    width: 60px;
    height: 60px;
    font-size: 9vw;
    margin-bottom: 6vw;
  }
  .resultsBlock {
    padding: 5vw 0;
    margin: 0 0 5vw;
  }
  .prevSeasonCard {
    width: 95%;
    height: 50vw;
    margin-top: 9vw;
    margin-bottom: 9vw;
  }
  .resultTxt {
    width: 70%;
  }
  .textBlock h1 {
    font-size: 4vw;
  }
  .textBlock h2 {
    font-size: 8vw;
  }
  .textBlock p {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 390px) {
  .addResultBtn {
    width: 55px;
    height: 55px;
    font-size: 8vw;
  }
}

@media only screen and (max-width: 330px) {
  .addResultBtn {
    width: 50px;
    height: 50px;
    font-size: 8vw;
  }
}
