@import '../../../index.scss';
@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi");

.mainBlock {
  width: 100%;
  height: 100%;
  background-image: $pagePhotoBg;
  color: rgb(114, 110, 110);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Baloo Thambi", cursive;
  font-size: 15vw;
}

.text-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.text-container > span {
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #0652dd, 0 0 50px #0652dd, 0 0 100px #0652dd;
  }

  10%,
  90% {
    color: rgb(71, 71, 71);
    text-shadow: none;
  }
}

.text-container > span:nth-child(2) {
  animation-delay: 0.25s;
}

.text-container > span:nth-child(3) {
  animation-delay: 0.5s;
}

.text-container > span:nth-child(4) {
  animation-delay: 0.75s;
}

.text-container > span:nth-child(5) {
  animation-delay: 1s;
}

.text-container > span:nth-child(6) {
  animation-delay: 1.25s;
}

.text-container > span:nth-child(7) {
  animation-delay: 1.5s;
}

@media only screen and (max-width: 760px) {
    .mainBlock {
        font-size: 22vw;
      }
}

@media only screen and (max-width: 480px) {
    .mainBlock {
        font-size: 27vw;
      }
}
