@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@900&display=swap');

$backgroundColor: linear-gradient(45deg, #1b2424 0%, #8b8dae 100%);
$pagePhotoBg: linear-gradient(45deg, #1b2424 0%, #2c1e25 100%);
$infoBlockColor: #d9d9d96e;
$infoBlockTextShadow: 0px 0px 5px #545454;

:root[data-theme="light"] {
  --background-color: #F5F5F5;
  --text-color: #2e2e2e;
  --links-color: #2e2e2e;
  --placeholder-color: rgba(32, 32, 32, 0.521);
}

:root[data-theme="dark"] {
  --background-color: #444444;
  --text-color: #f1f1f1;
  --links-color: #f1f1f1;
  --placeholder-color: rgba(255, 255, 255, 0.521);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--links-color);
  text-decoration: none;
}

button, input, select {
  color: var(--text-color);
}

::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
  border: 1px solid var(--placeholder-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}