@import "../../index.scss";

.content {
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.heading {
  font-size: 4vw;
  font-weight: 900;
  margin: 0;
  width: 70%;
}

.pagePhotoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4.5vw;
}

.quotesHeading {
  text-align: center;
  padding: 0;
}

.quotesHeading img {
  width: 100%;
}

.headingText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vw 0;
}

@media only screen and (max-width: 912px) {
  .pagePhotoBlock {
    padding-top: 8vw;
  }
}

@media only screen and (max-width: 820px) {
  .pagePhotoBlock {
    padding-top: 8.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .pagePhotoBlock {
    padding-top: 7vw;
    overflow: hidden;
  }
  .quotesHeading img {
    width: 150%;
    margin-left: 20vw;
  }
  .heading {
    font-size: 6vw;
  }
  .headingText {
    padding: 5vw 0;
  }
}

@media only screen and (max-width: 540px) {
  .pagePhotoBlock {
    padding-top: 7.5vw;
  }
}

@media only screen and (max-width: 480px) {
  .pagePhotoBlock {
    padding-top: 13vw;
  }
  .quotesHeading img {
    width: 200%;
    margin-left: 20vw;
  }
  .headingText {
    padding: 10vw 0;
  }
  .heading {
    font-size: 6vw;
    width: 60%;
  }
}
